# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\FileRecv\大三上\课程学习\软件设计与体系结构\GitHub\SpringBoot-Bootstrap-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
